<section class="public-shell">
    <header class="public-header">
        <a routerLink="/public/spaces" class="brand">
            <span>CW</span>
            <strong>CoWork Spaces</strong>
        </a>

        <nav>
            <a routerLink="/public/spaces">Espacios</a>
            <a routerLink="/public/reservation">Reservar</a>

            @if (authStore.isAuthenticated()) {
            <a routerLink="/admin/dashboard">Panel</a>
            } @else {
            <a routerLink="/auth/login" class="login-link">Ingresar</a>
            }
        </nav>
    </header>

    <main>
        <router-outlet />
    </main>
</section>